:root {  
  --button-height: 65px; // Define a CSS variable  
} 
$depth: 6;
$color: rgb(114, 159, 207);
$text-color: darken($color, 10%);
$lighten-on-hover: 7%;
$button-speed: .06;
$timing-function: ease-out;
.button {
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 15px;
  text-shadow: 0 -2px 0 darken($color, 20%), 0 1px 1px lighten($color, 20%);
  box-sizing: border-box;
  font-size: 2em;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  font-weight: bold;
  color: $text-color;
  height: var(--button-height);
  &:visited {
    color: $text-color;
  }
  height: var(--button-height);  
  width: var(--button-height);  
  line-height: var(--button-height);
  display:inline-block;
  background: rgb(114, 159, 207);
  border-top:1px solid rgb(114, 159, 207);
  border-bottom:1px solid rgb(114, 159, 207);
  top:0;
  transition:all ($button-speed + s) $timing-function;
  position:relative;
}
.button:hover {
  background: rgb(140, 184, 221);
}

.button:active {
  top: $depth+px;
  text-shadow: 0 -2px 0 darken($color, 0%), 0 1px 1px lighten($color, 20%), 0 0 4px white;
  color: lighten($color, 45%);

  &:before {
    top: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .7), 0 3px 9px rgba(0, 0, 0, .2);

  }
}
.button:before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  top: ($depth)+px;
  height: var(--button-height);  
  background: linear-gradient(to top,
      saturate(darken($color, 40%), 15%) 0%,
      saturate(darken($color, 25%), 10%) $depth+px);
  transition: all (($button-speed*1.3) + s) $timing-function;
  box-shadow:
    0 1px 0 2px rgba(0, 0, 0, .3),
    0 5px ($depth*.4+px) rgba(0, 0, 0, .5),
    0 ($depth*1.8+px) 9px rgba(0, 0, 0, .2);
}


